* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

.wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

  /* header  */
  header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #014445;
      position: relative;
      height: 200px;
  }
  header img{
      width: 150px;
      padding: 10px;
      box-sizing: border-box;
  }
  header h1{
      color: white;
      font-weight: 400;
      font-size: 48px;
      font-family: 'Inder';
  }
  header .menu{
      font-size: 48px;
      color: white;
      padding-right: 50px;
      padding-top: 40px;
      padding-bottom: 40px;
      height: 120px;
      line-height: 120px;
  }
  
  .slide_bar{
      list-style: none;
      position: absolute;
      background-color: #9fc3c4;
      top: 100%;
      right: 0;
      width: 25%;
      display: none;
  }
  
  .slide_bar li{
    width: 100%;
    height: 121px;
      display: flex;
      align-items: center;
      font-size: 36px;
      font-weight: 400;
      font-family: 'Inder';
      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .slide_bar li i {
      padding-right: 20px;
  }
  
  header .menu:hover .slide_bar{
      display: block;
  }
  
  /* section */
  section{
      width: 100%;
      height: 69.2vh;
      background-image: url(./image\ 1.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 50px;
  }
  .form-search{
      display: flex;
      justify-content: space-around;
  }
  .form{
      margin-top: 30px;
      width: 40%;
  }
  .form form h2{
      font-size: 32px;
      font-weight: 400;
  }
  .form table{
      background-color: rgba(250, 250, 250, 0.8);
      width: 100%;
      border: 1px solid #014445;
      border-radius: 24px;
      padding: 24px;
      font-size: 24px;
      font-weight: 400;
  }
  .form table tr{
      height: 50px;
  }
  .form table input{
      width: 90%;
      height: 30px;
  }
  .form table td:first-child{
      width: 200px;
      text-align: center;
  }
  /* search   */
  .search{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
   
  
  .box_search{
      width: 200px !important;
      border-radius: 24px;
      border: 1px solid #014445;
      padding: 10px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
  }
  .box_search input{
      height: 100%;
      width: 70%;
      border: none;
      background-color: transparent;
  }
  
  
  .item{
      margin-top: 10px;
      background-color: rgba(250, 250, 250, 0.8);
      width: 150px;
      height: 50px;
      line-height: 50px;
      font-size: 36px;
      display: flex;
      justify-content: space-evenly;
      border: 1px solid #014445;
      align-items: center;
      margin: 15px auto;
  }
  
  /* table  */
  .my_table >table tr{
      border: 1px solid black;
  }
  .my_table >table th{
      border: 1px solid black;
  }
  .my_table >table td{
      border: 1px solid black;
      font-size: 24px;
  }
  
  .my_table> table tr{
      height: 50px;
  }
  .my_table>  table{
      background-color: rgba(250, 250, 250, 0.8);
      border-collapse: collapse;
      border: 1px solid #014445 !important; 
      width: 88%;
      margin: 100px;
      text-align: center;
  }
  
  /* footer   */
  footer{
      background-color: #014445;
  }
  .content_footer{
      width: 55%;
      justify-content: space-between;
      display: flex;
      color: white;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      margin-left: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: #000000;
}

section{
    font-family: 'Inder';
font-style: normal;
}