
.wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

  /* header  */
  header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #014445;
      position: relative;
      height: 200px;
      width: 100vw;
  }
  header img{
      width: 150px;
      padding: 10px;
      box-sizing: border-box;
  }
  header h1{
      color: white;
      font-weight: 400;
      font-size: 48px;
      font-family: 'Inder';
  }
  header .menu{
      font-size: 48px;
      color: white;
      padding-right: 50px;
      padding-top: 40px;
      padding-bottom: 40px;
      height: 120px;
      line-height: 120px;
  }
  
  .slide_bar{
      list-style: none;
      position: absolute;
      background-color: #9fc3c4;
      margin-top: auto;
      right: 0;
      width: 25%;
      height: 366%;
      display: none;
  }
  
  .slide_bar li{
      width: 100%;
      height: 125px;
      display: flex;
      align-items: center;
      font-size: 36px;
      font-weight: 400;
      font-family: 'Inder';
      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .slide_bar li i {
      padding-right: 20px;
  }
  
  header .menu:hover .slide_bar{
      display: block;
  }
head img{

    padding: 10px;
    box-sizing: border-box;
}
head h1{
    color: white;
    font-weight: 400;
    font-size: 48px;
    font-family: 'Inder';
}
head .menu{
    font-size: 48px;
    color: white;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 120px;
    line-height: 120px;
}

.slide_bar{
    list-style: none;
    position: absolute;
    background-color: #9fc3c4;
    top: 100%;
    right: 0;
    width: 25%;
    display: none;
}

.slide_bar li{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Inder';
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.slide_bar li i {
    padding-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

head .menu:hover .slide_bar{
    display: block;
}
/* **************************************************************** */
#body{
    width: 100vw;
    height: 75vh;
    background: url(./image\ 1.png);
    display: flex;
    justify-content: stretch;
}
.body-right{width: 30vw;} 
.body-left{width: 70vw;}
.itemss, .detailss {
    width: 68vw;
    padding-top: 1vh;
    padding-left: 2vw;
    display: flex;
    justify-content: flex-start;
    height: 8vh;
}

.itemss div{
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 8vh;
    background-color: #7B9A9B;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.itemss div p{
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.detailss div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 8vh;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;     
    margin-right: 2vw;
}

.detailss div p{
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    width: 9vw;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.body-right, .body-left{
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #014445;
}
 .bill p{
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-size: 2vh;
    height: 1vh;
    line-height: 30px;
    color: #000000;
 }
.bill h1{
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-size: 3vh;
    height: 2vh;
    line-height: 30px;
    color: #000000; 
}
 .bill hr{
    width: 26vw;
    font-weight: 100;
    align-items: center;
    color: #000000;
 } 

 .form{
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    height: 4vh;
    padding-top: 1vh;
 }

 .bill div p{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-size: 2vh;
    height: 1vh;
    line-height: 30px;
    color: #000000;
 }

 .bill div input{
    width: 15vw;
    border-color: #000000;
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-size: 2vh;
    color: #000000;
 }
.div2-1{
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    height: 4vh;
}
 .div2{
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    height: 5vh;
 }

 .IN {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: #000000;
    text-align: center;
    background-color: #ffff;
 }

 .IN a{
    color: #000000;
    font-size: 3vh;
    text-decoration: none;
 }

 /*  */
 footer{
    width: 100vw;
    background-color: #014445;
}
.content_footer{
    width: 55%;
    justify-content: space-between;
    display: flex;
    color: white;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin-left: 20px;
}
